{% extends "master/template.html" %}

{% block myblock %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-2 mb-3">
            <a href="{% url 'add_student' %}"> <button type="button" class="btn btn-primary">Add Student</button></a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    {% for std in students %}
        <tr>
            <th scope="row">{{std.id}}</th>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>{{std.email}}</td>
            <td><a href="{% url 'update_student' std.id %}"><button type="button" class="btn btn-success">Update</button></a>
                                    <!-- Student id is Passed Here -->
                <a href="{% url 'add_student' %}"> <button type="button" class="btn btn-danger">Delete</button><a>
            </td>
        </tr>

    {% endfor %}

        </tbody>
    </table>

{% endblock  %}